*
{
  margin: 0%;
  padding: 0%;
}
/* h1
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.blocked
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
#textarea
{
  display: flex;
  justify-content: center;
  align-items: center;
} */